{% extends 'base.html.twig' %}

{% block body %}
    <h1>Invoice</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invoice.id }}</td>
            </tr>
            <tr>
                <th>Clientname</th>
                <td>{{ invoice.clientName }}</td>
            </tr>
            <tr>
                <th>Clientacronym</th>
                <td>{{ invoice.clientAcronym }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ invoice.reference }}</td>
            </tr>
            <tr>
                <th>Invoicedate</th>
                <td>{% if invoice.invoiceDate %}{{ invoice.invoiceDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Duedate</th>
                <td>{% if invoice.dueDate %}{{ invoice.dueDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Object</th>
                <td>{{ invoice.object }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if invoice.createdAt %}{{ invoice.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if invoice.updatedAt %}{{ invoice.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('invoice_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('invoice_edit', { 'id': invoice.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
